.homepagePic {
    width: 25rem;
    border: 1px solid blue;
    border-radius: 15px;
}

.homeContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 20px;
    padding:5px;
}

.gameTextContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap:10px;
}

.directions{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-wrap: wrap;
    padding: 10px;
    color:blue;
}

.red, .waldo, .wizard {
    color: red;
}

.directions p {
    text-align: center;
    font-weight: 700;
}

.characterTitle {
    font-weight: 700;
    color: blue;
    text-align: center;

}

.characterList {
    font-weight: 700;
    color: blue;
    padding: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.levelContainer {
    margin-left: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;    
    gap: 1rem;
    padding: 10px;
}

.levelCard {
    color:blue;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    width: 27rem;
    height: 21rem;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.99) 0px 1px 3px 0px, rgba(0, 0, 0, 0.99) 0px 1px 2px 0px;
}

.levelCard:hover {
    background-color: rgba(0, 0, 400, 0.1);
    border: 1px solid blue;
}

.levelCard:active {
    background-color: rgba(400, 0, 0, 0.1);
    border: 1px solid red;
    translate: 0px 6px;
    color:red
}

.linkCard {
    text-decoration: none;
    width: 27rem;
}

@media only screen and (max-width: 768px) {

    .homeContainer {
        display: flex;
        flex-direction: column-reverse;
    }

    .levelContainer {
        margin: auto;
        padding: 5px;
        gap: .5rem;
    }

    .linkCard, .levelCard {
        width: 11rem;
        height: 10rem;
        font-size: 14px;
    }

    .levelCard {
        gap: 8px;
    }

    .homepagePic {
        width: 10rem;
    }

    .directions {
        font-size: 16px;
        gap: 15px;
    }

    .characterList {
        font-size: 16px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .characterList li {
        width: 6rem;
        height: 12rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .characterPic {
        width: 4rem;
        height: 9rem;
    }

    .characterTitle{
        font-size: 16px;
    }
}