
.selectionMenu {
    display: flex;
}

.selectionCircle{
    border: 5px dashed red;
    border-radius: 15px;
    color: blue;
    z-index: '1';
    background-color: rgba(0, 0, 200, 0.2)
}

.charList {
    padding: 5px;
    background-color: #f7f7f7;
    list-style: none;
    border: 2px solid red;
    border-radius: 20px;
    
}

.charList li {
    color: blue;
}

.charList li:hover {
    background-color: #93c5fd;
    cursor: pointer;
}

.guess {
   background-color: blue;
}

.foundChar {
    background-color: red;
}

.wrongGuess {
    position: absolute;
   
    
    font-size: 20px;
    font-weight: 700;
    background-color: white;
    color: darkred;
    border: 3px solid red;
    border-radius: 15px;
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

