* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.waldoPic {
    width: 100%;
    height: auto;
    border: 4px solid #2563eb;
    border-radius: 10px;
}

.wrongGuess {
    position: absolute;
   
    
    font-size: 20px;
    font-weight: 700;
    background-color: white;
    color: darkred;
    border: 3px solid red;
    border-radius: 15px;
    width: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
}